# -*- mode: ruby -*-
# vi: set ft=ruby :

# Creates the base environment for running the DTaaS application
# This template is used to create the dtaas vagrant box

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/jammy64"
  config.disksize.size = "200GB"
  
  # CUSTOMIZE: Change to your desired hostname
  config.vm.hostname = "foo.com"
  
  # CUSTOMIZE: Change MAC address if using DHCP with DNS assignment
  config.vm.network "public_network", :mac => "02163ee0bf12"

  config.vm.provider "virtualbox" do |vb|
    vb.name = "dtaas"
    vb.memory = 16384
    vb.cpus = 8
  end

  # User installation (default)
  config.vm.provision "shell", path: "user.sh"
  
  # Developer installation (optional - uncomment next line for developer setup)
  #config.vm.provision "shell", path: "developer.sh"
end
