# -*- mode: ruby -*-
# vi: set ft=ruby :

# Two machine deployment of DTaaS
# This requires the dtaas vagrant box to be already created
# Server configurations are read from boxes.json

require 'json'
boxes = JSON.parse(File.read('boxes.json'))

Vagrant.configure(2) do |config|

  boxes.each do |opts|
    config.vm.define opts["name"] do |node|
      node.vm.box = "dtaas"
      node.vm.hostname = opts["hostname"]
      
      # CUSTOMIZE: MAC addresses in boxes.json if using DHCP with DNS assignment
      node.vm.network "public_network", :mac => opts["mac"]

      node.vm.provider "virtualbox" do |vb|
        vb.memory = 6096
        vb.cpus = 3
        vb.name = opts["name"]
      end

      # CUSTOMIZE: Ensure this path points to your vagrant private SSH key
      node.ssh.private_key_path = "vagrant"
    end
  end

end
